<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form action="">
        <div>
            Jugador 1:
        </div>
        <div>
            <input type="text" id="Player1" />
            <select id="role-jugador1">
                <option>DEV</option>
                <option>QA</option>
                <option>BA</option>
                <option>PM</option>
            </select>
        </div>
        <div>
            Jugador 2:
        </div>
        <div>
            <input type="text" id="Player2" />
            <select id="role-jugador2">
                <option>DEV</option>
                <option>QA</option>
                <option>BA</option>
                <option>PM</option>
            </select>
        </div>
        <div>
            <input type="submit" id="btn-jugar" value="Jugar" />
        </div>
    </form>
</body>
</html>
